nav {
    background-color: rgb(13, 239, 47);
    padding: 1rem;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}