<body>
        <div class="tarjeta">
            <img src="https://github.com/nicolasurbanski.png" alt="Imagen de perfil" class="imagen">

            <div class="contenido">
                <h2 class="nombre">Nicolas  Urbanski</h2>
                <p class="descripcion">Soy desarrollador web interesado en 
                    el mundo crypto y de la blockchain, con previo conocimiento
                    de html,css, javascript, java, react y node.js.
                </p>
                <button class="boton">Contactar</button>
            </div>
        </div>
    </body>
